﻿@model WebApplication1.Models.parametri

@{
    ViewBag.Title = "Create new Token Order";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    if (user != null)
    {
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Select package:</h2>


<div class="form-horizontal">
    <hr />

    <div class="card">
        <div class="card-header"><h3>Silver Package</h3></div>
        <div class="card-body">
            <h4 >Offer: @Model.S tokens</h4>
            <h4>Price: @(Model.S * Model.T) @Model.C</h4>
            @using (Html.BeginForm("Create", "TokenOrder", new { tokens = "silver" }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Order" class="btn success" />
            }
        </div>
    </div>

    <div class="card">
        <div class="card-header"><h3>Gold Pack</h3></div>
        <div class="card-body">
            <h4>Offer: @Model.G tokens</h4>
            <h4>Price: @(Model.G * Model.T) @Model.C</h4>
            @using (Html.BeginForm("Create", "TokenOrder", new { tokens = "gold" }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Order" class="btn success" />
            }
        </div>
    </div>

    <div class="card">
        <div class="card-header"><h3>Platinum Pack</h3></div>
        <div class="card-body">
            <h4>Offer: @Model.P tokens</h4>
            <h4>Price: @(Model.P * Model.T) @Model.C</h4>
            @using (Html.BeginForm("Create", "TokenOrder", new { tokens = "platinum" }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Order" class="btn success" />
            }
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to the token index page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
