﻿@model PagedList.IPagedList<WebApplication1.Models.narudzbina>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Orders";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    if (user != null)
    {
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            Number of ordered tokens
        </th>
        <th>
            Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.brTokena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanje)
            </td>
        </tr>
    }

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("Details", new { page }))