﻿@model IEnumerable<WebApplication1.Models.narudzbina>

@{
    ViewBag.Title = "TokenOrder";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    if (user != null)
    {
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="jumbotron">
    <h1>Token order</h1>
    <p class="lead">
        @Html.ActionLink("Create new order", "Create", "TokenOrder") |
        @Html.ActionLink("See all orders", "Details", "TokenOrder")
    </p>
</div>