﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to the world of bidding!</h1>
    <p class="lead">
        @Html.ActionLink("Login", "Login", "User") |
        @Html.ActionLink("Register", "Create", "User") |
        @Html.ActionLink("Enter", "IndexA", "Auction")
    </p>
</div>