﻿@{
    ViewBag.Title = "Admin Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron">
    <h1>Welcome admin!</h1>
    <p class="lead">
        @Html.ActionLink("Paramaters", "IndexPar", "Admin") |
        @Html.ActionLink("Moderate auctions", "NeedApproval", "Auction") |
        @Html.ActionLink("Enter", "IndexA", "Auction")|
        @Html.ActionLink("Buy tokens", "Index", "TokenOrder")|
        @Html.ActionLink("Edit admin info", "Details", "User")
    </p>
</div>