﻿@model WebApplication1.Models.korisnik

@{
    ViewBag.Title = "User Details";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    if (user != null)
    {
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Profile Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mejl)
        </dd>

        <dt>
            Number of tokens
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brTokena)
        </dd>

        <dt>
            Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) 
</p>
