﻿@model WebApplication1.Models.korisnik
@{
    ViewBag.Title = "User Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="jumbotron">
    <h1>Welcome user!</h1>
    <p class="lead">
        @Html.ActionLink("Create auctions", "Create", "Auction") |
        @Html.ActionLink("Enter", "IndexUser", "Auction")|
        @Html.ActionLink("Buy tokens", "Index", "TokenOrder")|
        @Html.ActionLink("See profile info", "Details", "User")
    </p>
</div>