﻿@model IEnumerable<WebApplication1.Models.korisnik>

@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Users list</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mejl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lozinka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brTokena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mejl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lozinka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brTokena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UID }) 
        </td>
    </tr>
}

</table>
