﻿@model WebApplication1.Models.aukcija

@{
    ViewBag.Title = "Details";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    string idCurrentUser = "-1";
    if (user != null)
    {
        idCurrentUser = user.UID.ToString();
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name of the user
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korisnik1.ime)
        </dd>

        <dt>
            Name of the product
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Picture
        </dt>

        <dd>
            @{
                string imreBase64Data = Convert.ToBase64String(@Model.slika);
                string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
            }
            <img src="@imgDataUrl" style="width:20%" />
        </dd>

        <dt>
           Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trajanje)
        </dd>

        <dt>
            Starting price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pocetnaCena)
        </dd>

        <dt>
            Current price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trenutnaCena)
        </dd>

        <dt>
           DateTime of creation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumVremeStvaranja)
        </dd>

        <dt>
            DateTime opened
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumVremeOtvaranja)
        </dd>

        <dt>
            DateTime closed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumVremeZatvaranja)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "IndexA")
</p>
