﻿@model IEnumerable<WebApplication1.Models.aukcija>

@{
    ViewBag.Title = "Index Auction";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index Auctions</h2>

<div class="jumbotron">
    <h1>Auctions</h1>
    <p class="lead">
        @Html.ActionLink("Auctions", "IndexA", "Auction") |
        @Html.ActionLink("Create auction", "Create", "Auction") |
        @Html.ActionLink("Moderate auctions", "NeedApproval", "Auction")
    </p>
</div>
