﻿@model PagedList.IPagedList<WebApplication1.Models.aukcija>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index Auctions";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    string idCurrentUser = "-1";
    if (user != null)
    {
        idCurrentUser = user.UID.ToString();
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


@if (ViewBag.Message != null)
{
    <div class="row">
        <br />
        <div class="alert alert-warning" role="alert">
            <strong>@ViewBag.Message</strong>
        </div>
    </div>
}

<h2>All Auctions</h2>

@using (Html.BeginForm("IndexA", "Auction", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-2">
            Search:
            @Html.TextBox("searchString", null, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            Price from:
            @Html.TextBox("priceFrom", null, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            Price to:
            @Html.TextBox("priceTo", null, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            Items per page:
            @Html.TextBox("itemsPerPage", null, new { @class = "form-control" })
        </div>
        <br />
        <div class="col-sm-2">
            <button class="btn btn-success text-strong" type="submit">Search</button>
        </div>
    </div>
}

<br />

<div class="row" id="appending">
    @foreach (var item in Model)
    {
        string imreBase64Data = Convert.ToBase64String(item.slika);
        string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
    <div>
        <div class="col-md-3">
            <div class="card" style="height: 20%; max-height:20%;">
                <div class="card-title">
                <h3 class="card-title text-center text-strong" style="height:50px; max-height:50px">
                    @Html.ActionLink(item.naziv, "Details", "Auction", new { id = item.GUID }, null)
                </h3></div><hr/>
                <img class="card-img-top" src="@imgDataUrl" alt="Card image cap" style="width: 100%; height:200px; object-fit: contain;" />
                <div class="card-body text-center">
                    <hr />
                    <dl class="card-text">
                        <dt>Current price</dt>
                        <dd id="@item.GUID price">@item.trenutnaCena</dd>
                        <dt>Time left</dt>
                        <dd id="@item.GUID timeLeft"></dd>
                        <dt>Best bidder</dt>
                        <dd id="@item.GUID bidder">
                            @if (item.ponudas.Where(b => b.aukcija == item.GUID).OrderByDescending(b => b.brojTokena).FirstOrDefault() != null)
                            {
                                <!--menja se iz sekunda u sekund-->
                                @item.ponudas.Where(b => b.aukcija == @item.GUID).OrderByDescending(b => b.brojTokena).FirstOrDefault().korisnik1.mejl.ToString();

                            }
                            else
                            {
                                if (!item.stanje.Equals("Completed"))
                                {
                                    <p>No one bidded</p>
                                }
                                else
                                {
                                    <p>No bidder</p>
                                }

                            }
                        </dd>
                    </dl>
                    <!--Dodati uslov da ne moze svako da se bidduje-->
                    
                    @using (Html.BeginForm("Bidding", "Auction", new { auctionID = item.GUID, bidOffer = ViewBag.BidOffer }, FormMethod.Post, new { role = "form" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.TextBox("BidOffer", ViewBag.BidOffer as int?, new { @class = "form-control mr-sm-2" })<br/>
                    <button type="submit" id="@item.GUID button" class="btn btn-success font-weight-bold" style="color:white">Bid Now!</button>
                    }
                </div>
            </div>
        </div>

        @if (item.stanje == "Opened")
        {
             <script>                        
                            var x = setInterval(function() {                
                               //var countDownDate = new Date().getTime() - (System.DateTime.Now -item.datumVremeOtvaranja).TotalMilliseconds + item.trajanje *1000*60;
                                var targetField = "@item.GUID timeLeft";
                                var now = new Date().getTime();

                               // var distance = countDownDate-now;
                                var distance =now;

                            if (distance <= 0) {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CompleteAuction", "Auction", new { id = item.GUID })',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    success: function () {
                                        alert("You won");
                                    }
                                });

                                document.getElementById(targetField).innerHTML = "<mark> Completed </mark>";
                                targetField = "@item.GUID button";
                                document.getElementById(targetField).setAttribute("disabled", "true");

                                return;
                              }

                                           
                                
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            document.getElementById(targetField).innerHTML = days + "d " + hours + "h "
                                + minutes + "m " + seconds + "s ";

                        }, 1000);
            </script>
        }
        else
        {
            <script>
                        var targetField = "@item.GUID timeLeft";
                        document.getElementById(targetField).innerHTML = "Completed";
                        targetField = "@item.GUID button";
                        document.getElementById(targetField).setAttribute("disabled", "true");
            </script>
        }
    </div>
    }
</div>

<br /><br />

@Html.PagedListPager(Model, page => Url.Action("IndexA",
new { page, searchString = ViewBag.CurrentFilter, priceFrom = ViewBag.Min, priceTo = ViewBag.Max, itemsPerPage = ViewBag.N }))

@section scripts
    {
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var auctions = $.connection.bidHub;
            auctions.client.UpdateAuction = function (idAuction, newPrice, leadingBidder)
            {
                var targetField = idAuction + " price";
                document.getElementById(targetField).innerHTML = newPrice;
                targetField = idAuction + " bidder";
                document.getElementById(targetField).innerHTML = leadingBidder;
            };

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}

