﻿@model IEnumerable<WebApplication1.Models.aukcija>

@{
    ViewBag.Title = "Moderate Auctions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Moderate Auctions</h2>

<table class="table">
    <tr>
        <th>
            Name of the user
        </th>
        <th>
            Name of the product
        </th>
        <th>
            Picture
        </th>
        <th>
            Duration
        </th>
        <th>
            Starting price 
        </th>
        <th>
            DateTime of creation
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.korisnik1.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @{
                string imreBase64Data = Convert.ToBase64String(@item.slika);
                string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
            }
            <img src="@imgDataUrl" style="width:20%" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trajanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pocetnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumVremeStvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stanje)
        </td>
        <td>
            @Html.ActionLink("Approve", "OpenAuction", new { id=item.GUID }) |
            @Html.ActionLink("Reject", "RejectAuction", new { id=item.GUID })
        </td>
    </tr>
}

</table>
