﻿@model IEnumerable<WebApplication1.Models.aukcija>

@{
    ViewBag.Title = "Won auctions";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    WebApplication1.Models.korisnik user = Session["User"] as WebApplication1.Models.korisnik;
    if (user != null)
    {
        if (user.admin == 1)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Won auctions</h2>

<table class="table">
    <tr>
        <th>
            Name of the product
        </th>
        <th>
            Picture
        </th>
        <th>
            Duration
        </th>
        <th>
            Starting price
        </th>
        <th>
           End price
        </th>
        <th>
            DateTime of creation
        </th>
        <th>
            DateTime opened
        </th>
        <th>
            DateTime closed
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trajanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pocetnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trenutnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumVremeStvaranja)
        </td>
        <td>  
            @Html.DisplayFor(modelItem => item.datumVremeOtvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumVremeZatvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stanje)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.GUID })
        </td>
    </tr>
}

</table>
